<div *ngIf="!isLoggedIn || !isUser; else history">
  Please log in to view history
</div>
<ng-template #history>
  <div style="max-height: 500px;overflow-y: auto">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Calculation</th>
        <th>Date</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let history of histories">
        <td>{{history.content}}</td>
        <td>{{history.date}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</ng-template>

