<div *ngIf="isLoggedIn; else loggedOut">
  Logged in successfully.
</div>

<ng-template #loggedOut>
  <div style="max-width:500px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username" #username="ngModel"
               required minlength="3"/>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required" class="text-danger">Username is required</div>
          <div *ngIf="username.errors.minlength" class="text-danger">Username must be at least 3 characters</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="3" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required" class="text-danger">Password is required</div>
          <div *ngIf="password.errors.minlength" class="text-danger">Password must be at least 3 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr />
    <span>Don't have an account?  </span>
    <a href="signup" class="btn btn-success">Sign Up</a>
  </div>
</ng-template>
